attrs==24.2.0
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
exceptiongroup==1.2.2
Flask==3.0.3
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonrpcclient==4.0.3
jsonrpcserver==5.0.9
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
MarkupSafe==2.1.5
msgpack==1.0.8
OSlash==0.6.3
packaging==24.1
pluggy==1.5.0
pytest==8.3.2
referencing==0.35.1
requests==2.32.3
rocksdict==0.3.23
rpds-py==0.20.0
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.2
waitress==3.0.0
Werkzeug==3.0.3
